<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.primary.sample.model.dao.vm.mapper.VmInfoMapper">
    <resultMap id="BaseResultMap" type="org.primary.sample.model.dao.vm.entity.VmInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <!--        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>-->
        <result column="vm_id" jdbcType="VARCHAR" property="vmId"/>
        <result column="vm_name" jdbcType="VARCHAR" property="vmName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="del_logic" jdbcType="INTEGER" property="delLogic"/>
    </resultMap>
    <!--    <sql id="Base_Column_List">-->
    <!--        id, tenant_id,vm_id,vm_name, create_time, modify_time, del_logic-->
    <!--    </sql>-->
    <sql id="Base_Column_List">
        id,vm_id,vm_name, create_time, modify_time, del_logic
    </sql>

</mapper>